.mainImage {
  width: 100%;
  margin-bottom: 3rem;
  img {
    max-width: 100%;
  }
}
.footer {
  position: relative;
}
.infoText {
  width: 67rem;
  display: block;
  margin: 0 auto;
  @include text;
  margin-bottom: 3rem;
  @media (max-width: $mobileWidth) {
    width: 100%;
  }
}
.slider {
  margin-bottom: 6rem;
}
.otherHeader {
  margin-bottom: 8.5rem;
  @media (max-width: $mobileWidth) {
    margin-bottom: 3rem;
  }
}
.noPaddingTop {
  padding-top: 0;
}