.mainImage {
  width: 100%;
  margin-bottom: 3rem;
  img {
    max-width: 100%;
  }
}
.footer {
  position: relative;
}
.infoText {
  width: 67rem;
  display: block;
  margin: 0 auto;
  font-size: 2.4rem;
  margin-bottom: 3rem;
}
.slider {
  margin-bottom: 6rem;
}
.otherHeader {
  margin-bottom: 8.5rem;
}