.nav {
  display: flex;
  @include regular-text;
  .button {
    &.projects {
      position: relative;
      .projectsDrop {
        position: absolute;
        top: 3rem;
        p {
          display: inline-flex;
          position: relative;
          @include regular-text;
          white-space: nowrap;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          &:after {
            content: '';
            position: absolute;
            width: 0%;
            height: .1rem;
            left: 0;
            bottom: -.4rem;
            background-color: $fontColorDefault;
            transition: .2s;
          }
          &:hover {
            cursor: pointer;
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
    button {
      display: flex;
      align-items: baseline;
      text-transform: uppercase;
      font-weight: 400;
      :active {
        color: #000;
      }
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 0%;
          height: .1rem;
          left: 0;
          bottom: -.4rem;
          background-color: $fontColorDefault;
          transition: .2s;
        }
      }
      svg {
        margin-left: .5rem;
        transition: .2s;
      }
      &:hover {
        cursor: pointer;
        span {
          &:after {
            width: 100%;
          }
        }
      }
    }
    &.opened {
      svg {
        transform: rotateX(180deg);
      }
      span {
        &:after {
          width: 100%;
        }
      }
    }
    &:first-child {
      margin-right: 8rem;
    }
  }
}