.nav {
  @include regular-text;
  color: $fontColorDefault;
  mix-blend-mode: difference;
  z-index: 20;
  .desktop {
    display: flex;
    &.projects {
      position: relative;
      display: flex;
      flex-direction: column;
      .projectsDrop {
        // position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        padding-bottom: 1rem;
        button,a {
          text-transform: none;
          display: inline-flex;
          position: relative;
          @include regular-text;
          white-space: nowrap;
          mix-blend-mode: difference;
          color: #fff;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            right: 0;
            bottom: -.4rem;
            background-color: #ffffff;
            background-blend-mode: difference;
            transition: transform .2s, transform-origin 0s;
            transform: scaleX(0);
            transform-origin: right;
          }
          &:hover {
            cursor: pointer;
            &:after {
              transform: scaleX(1);
              transform-origin: left;
            }
          }
        }
      }
    }
    button,a {
      padding: 0;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: 400;
      color: #fff;
      :active {
        color: #fff;
      }
      span {
        display: block;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          right: 0;
          bottom: -.4rem;
          background-color: #ffffff;
          background-blend-mode: difference;
          transition: transform .2s, transform-origin 0s;
          transform: scaleX(0);
          transform-origin: right;
        }
      }
      svg {
        margin-left: .5rem;
        margin-bottom: .1rem;
        transition: .2s;
        width: 1rem;
        height: .5rem;
        color: #fff;
      }
      &:hover {
        cursor: pointer;
        span {
          &:after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
    &.opened {
      svg {
        transform: rotateX(180deg);
      }
      span {
        &:after {
          width: 100%;
        }
      }
    }
    > div {
      &:first-child {
        // margin-right: 8rem;
        width: 20rem;
      }
    }
    @media (max-width: $mobileWidth) {
      display: none;
    }
  }
  .mobile {
    .trigger {
      position: fixed;
      width: 2.6rem;
      height: 2.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 100;
      right: 1.5rem;
      top: 2.7rem;
      color: #fff;
      > svg {
        width: 100%;
        height: 100%;
      }
      @media (min-width: $mobileWidth) {
        display: none;
      }
    }
    .wrap {
      position: fixed;
      width: 100%;
      height: var(--doc-height);
      top: 0;
      left: 0;
      background-color: #fff;
      transform: translate3d(0,0,0);
      z-index: 10;
      display: flex;
      flex-direction: column;
      .mobileWrap {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        flex: 1;
      }
      > button {
        margin-top: 6rem;
      }
      .subtitle {
        font-size: 2.4rem;
      }
      .contacts {
        position: relative;
        margin-top: 6rem;
        text-transform: none;
        white-space: nowrap;
        mix-blend-mode: difference;
        color: #fff;
        &:after {
          content: '';
          position: absolute;
          width: 0%;
          height: 1px;
          left: 0;
          bottom: -.4rem;
          background-color: #ffffff;
          background-blend-mode: difference;
          transition: .2s;
        }
      }
      .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15rem;
        .list {
          margin-top: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          button,a {
            text-transform: none;
            display: inline-flex;
            position: relative;
            @include regular-text;
            white-space: nowrap;
            mix-blend-mode: difference;
            color: #fff;
            &:not(:last-child) {
              margin-bottom: 1rem;
            }
            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 1px;
              right: 0;
              bottom: -.4rem;
              background-color: #ffffff;
              background-blend-mode: difference;
              transition: transform .2s, transform-origin 0s;
              transform: scaleX(0);
              transform-origin: right;
            }
            &:hover {
              cursor: pointer;
              &:after {
                transform: scaleX(1);
                transform-origin: left;
              }
            }
          }
        }
      }
      .provide {
        position: absolute;
        bottom: 2rem;
        span {
          @include garamond-narrow;
          @include uppercase;
          font-size: 1.5rem;
        }
      }
    }
  }
}