.section {
  background-color: #fff;
}
.header {
  margin-bottom: 8.5rem;
  @media (max-width: $mobileWidth) {
    margin-bottom: 6rem;
  }
}
.footer {
  @media (max-width: $mobileWidth) {
    min-height: 100vh;
  }
}