.section {
  background-color: #fff;
  min-height: -webkit-fill-available !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .wrapPage {
    overflow: auto;
    height: 100%;
  }
}
.header {
  margin-bottom: 8.5rem;
  @media (max-width: $mobileWidth) {
    margin-bottom: 6rem;
  }
}
.footer {
  @media (max-width: $mobileWidth) {
    min-height: var(--doc-height);
  }
}