.project {
  background-color: #fff;
  min-height: -webkit-fill-available !important;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .wrapPage {
    overflow: auto;
    height: 100%;
  }
}
.mainImage {
  width: 100%;
  margin-bottom: 3rem;
  img {
    width: 100%;
    max-width: 100%;
  }
}
.infoText {
  width: 65%;
  display: block;
  margin: 0 auto;
  @include text;
  font-size: 2.7rem;
  margin-bottom: 3rem;
  line-height: 1.25;
  @media (max-width: $mobileWidth) {
    width: 100%;
    
  }
}
.otherProjects {
  margin-top: 22rem;
}
.slider {
  margin-bottom: 6rem;
}
.orderList {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.mainVideo {
  width: 65%;
  display: block;
  margin: 0 auto;
  video {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  &.fullWidth {
    width: 100%;
  }
  @media (max-width: $mobileWidth) {
    width: 100%;
  }
}
.otherHeader {
  // margin-bottom: 8.5rem;
  padding-bottom: 2rem;
  font-size: 2.7rem;
  // border-bottom: 1px solid $fontColorDefault;
  @media (max-width: $mobileWidth) {
    // margin-bottom: 3rem;
  }
}
.footer {
  @media (max-width: $mobileWidth) {
    min-height: var(--doc-height);
  }
}