.project {
  background-color: #fff;
}
.mainImage {
  width: 100%;
  margin-bottom: 3rem;
  img {
    width: 100%;
    max-width: 100%;
  }
}
.infoText {
  width: 65%;
  display: block;
  margin: 0 auto;
  @include text;
  margin-bottom: 3rem;
  line-height: 1.25;
  @media (max-width: $mobileWidth) {
    width: 100%;
    
  }
}
.otherProjects {
  margin-top: 6.5rem;
}
.slider {
  margin-bottom: 6rem;
}
.orderList {
  display: flex;
  flex-direction: column;
}
.mainVideo {
  width: 65%;
  display: block;
  margin: 0 auto;
  margin-bottom: 3rem;
  video {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  &.fullWidth {
    width: 100%;
  }
  @media (max-width: $mobileWidth) {
    width: 100%;
  }
}
.otherHeader {
  margin-bottom: 8.5rem;
  @media (max-width: $mobileWidth) {
    margin-bottom: 3rem;
  }
}