@import './_fonts.scss';
@import './_normalize.scss';
@import './_variables.scss';
@import './transitions.scss';

@mixin title {
  font-size: 4.8rem;
  line-height: .745;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video {
  // width: 100vw;
  // height: 100vh;
  // max-height: 100%;
  // object-fit: cover;
}
.logoTop {
  position: fixed;
  z-index: 110;
  top: 2.9rem;
  // left: 50%;
  transition-duration: .3s;
  transform: translateX(-50%);
  cursor: pointer;
  @media (max-width:$mobileWidth) {
    top: 7rem;
  }
}


html {
  font-size: 10px;
  // height: -webkit-fill-available;
  @media (max-width: $desktopWidth) {
    font-size: calc((10 / 1440) * 100vw);
  }
  @media (max-width: $mobileWidth) {
    font-size: calc((10 / 390) * 100vw);
    @media (orientation: landscape) {
      font-size: calc((10 / 768) * 100vw);
    }
  }
  // @media (max-width: $mobileWidth) {
  //   font-size: calc((10 / 390) * 100vw);
  // }
}

body {
  width: 100%;
  // @include regular-text-small;
  @include regular-text;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: $fontColorDefault;
  line-height: 1.2;
  // &:global(.popup-opened) {
  //   overflow: hidden;
  // }
  // line-height: 0;
  &.no-overflow {
    overflow: hidden;
  }
}
button
button {
  &.link {
    display: inline-block;
    a {
      color: $fontColorDefault;
      text-decoration: underline;
    }
  }
  &.active {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  &:active {
    color: red;
  }
}

a {
  text-decoration: none;
  &.nuxt-link-active {
    &:after {
      transform: scaleX(1) !important;
    }
    span {
      &:after {
        transform: scaleX(1) !important;
        // width: 100% !important;
      }
    }
  }
}

.popup-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 60rem;
}

.noPaddingTop {
  padding-top: 0 !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.fullpage-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page {
  background-color: #fff;
  transform: translate3d(0,0,0);
}
.flickity-block {
  &.pagination-off {
    .flickity-prev-next-button {
      display: none;
    }
  }
}
.flickity-slider {
  img {
    // max-height: 40rem;
    max-width: 100%;
    width: 100%;
  }
}
.flickity-page-dots {
  position: unset;
  display: none;
  @media (max-width: $mobileWidth) {
    display: flex;
    justify-content: center;
    li.dot{
      background-color: $fontColorDefault;
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      margin: 0 .5rem;
      transition: .2s;
    }
  }
}
.flickity-prev-next-button {
  &.flickity-button {
    svg {
      display: none !important;
    }
    transition: .3s;
    width: 5rem;
    height: 5rem;
    z-index: 10;
    background-image: url('@/assets/images/icons/arrow.svg');
    background-size: contain;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 50%;
    &:hover {
      background-image: url('@/assets/images/icons/arrow.svg');
      background-size: contain;
      // background-color: unset;
    }
    &.next {
      right: 4rem;
      transform: translate3d(0, -50%, 10px) rotateY(180deg);
    }
    &.previous {
      left: 4rem;
    }
    @media (max-width: $mobileWidth) {
      display: none !important;
    }
  }
  @media (max-width: $mobileWidth) {
    display: none;
  }
}

.slick-slider {
  position: relative;
  .slick-list {
    overflow: hidden;
    .slick-track {
      display: flex;
      align-items: center;
      .slick-slide {

        width: 100%;
      }
    }
  }
  .slick-arrow {
    &.slick-next, &.slick-prev {
      transition: .3s;
      width: 5rem;
      height: 5rem;
      z-index: 10;
      background-image: url('@/assets/images/icons/arrow.svg');
      background-size: contain;
      backdrop-filter: blur(50px);
      -webkit-backdrop-filter: blur(50px);
      border-radius: 50%;
      &:after, &:before {
        display: none;
      }
    }
    &.slick-next {
      right: 4rem;
      transform: translate3d(0, -50%, 10px) rotateY(180deg);
    }
    &.slick-prev {
      left: 4rem;
    }
    @media (max-width: $mobileWidth) {
      display: none !important;
    }
  }
  .slick-dots {
    display: none !important;
    @media (max-width: $mobileWidth) {
      position: static;
      display: flex !important;
      justify-content: center;
      z-index: 10;
      margin-top: 1.5rem;
      li {
        background-color: $fontColorDefault;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        margin: 0 .5rem;
        transition: .2s;
        &:not(.slick-active) {
          background-color: #E5E5E5;
        }
        &.slick-active {

        }
        button {
          position: relative;
          &:before {
            display: none;
            
            font-size: 1rem;
            width: 1.2rem;
            height: 1.2rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
          }
        }
      }
    }
  }
}
img {
  background-color: #F5F5F5;
}
.index-footer {
  @media (max-width: $mobileWidth) {
    // height: auto !important;
  }
  // canvas {
  //   pointer-events: none;
  // }
}
.icon {
  &:hover {
    cursor: pointer;
  }
}
.fullpage-container {
  min-height: -webkit-fill-available !important;
}
.flickity-viewport {
  transition: height 0.2s;
}
.owl-theme .owl {
  &-nav {
    margin-top: 0 !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 50%;
    height: 5rem;
    transform: translate(0, -50%);
  }
  &-prev, &-next {
    position: absolute;
    font-size: 0 !important;
    transition: .3s;
    padding: 0 !important;
    margin: 0 !important;
    width: 5rem;
    height: 5rem;
    z-index: 10;
    background: url('@/assets/images/icons/arrow.svg') rgba(255, 255, 255, 0.3) !important;
    // background-color: rgba(255, 255, 255, 0.3);
    background-size: contain !important;
    backdrop-filter: blur(50px) !important;
    -webkit-backdrop-filter: blur(50px) !important;
    border-radius: 50% !important;
    @media (max-width: $mobileWidth) {
      display: none !important; 
    }
    &:hover {
      opacity: .6;
    }
  }
  &-prev {
    left: 4rem;
  }
  &-next {
    right: 4rem;
    transform: rotateY(180deg);
  }
  &-dots {
    display: none;
    margin-top: 1rem;
    @media (max-width: $mobileWidth) {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        background-color: $fontColorDefault !important;
        opacity: .3;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        margin: 0 .5rem;
        transition: .2s;
        &.active {
          opacity: 1;
        }
        span {
          display: none !important;
        }
      }
    }
  }
}
.fullpage-wp {
  &.anim {
    will-change: transform;
  }
}