.footer {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  &Content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  .matter {
    top: 0;
    left: 0;
    z-index: 1;
  }
  .title {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate3d(-50%,0%, 0);
    display: block;
    margin: 4.7rem auto 0 auto;
    text-align: center;
    width: calc(100%/2);
    color: $fontColorDefault;
    margin-bottom: 9.5rem;
    @include title-h1;
    @media (max-width: $mobileWidth) {
      width: calc(100% - 3rem);
      margin: 0rem auto 0 auto;
      top: 10.4rem;
    }
  }
  .center {
    position: absolute;
    top: 22.8rem;
    z-index: 10;
    left: 50%;
    transform: translate3d(-50%,0%, 0);
    @media (max-width: $mobileWidth) {
      top: 23.9rem;
    }
  }
  .contacts {
    margin-bottom: 6rem;
    @media (max-width: $mobileWidth) {
      margin-bottom: 3rem;
    }
    button {
      margin-top: 1rem;
    }
  }
  .feedback {
    margin-bottom: 6rem;
    @media (max-width: $mobileWidth) {
      margin-bottom: 3rem;
    }
  }
  .matter {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .subtitle {
    font-size: 1.6rem;
    @include garamond-narrow;
    margin-bottom: 1.5rem;
    @include uppercase;
  }
  .text {
    @include regular-text;
  }
  .bottom {
    // position: absolute;
    // display: flex;
    // justify-content: space-between;
    // width: 100%;
    // padding: 4rem;
    // bottom: 4.2rem;
    .name, .provide, .policy {
      position: absolute;
      bottom: 4rem;
      z-index: 10;
      @media (max-width: $mobileWidth) {
        bottom: 2rem;
        font-size: 1.2rem;
      }
    }
    .name {
      left: 4rem;
      @media (max-width: $mobileWidth) {
        left: 2rem;
      }
    }
    .provide {
      left: 50%;
      transform: translate3d(-50%,0%, 0);
      @media (max-width: $mobileWidth) {
        display: none;
      }
    }
    .policy {
      right: 4rem;
      @media (max-width: $mobileWidth) {
        right: 2rem;
      }
    }
    span {
      @include garamond-narrow;
      @include uppercase;
      font-size: 1.5rem;
    }
  }
}
