.footer {
  width: 100%;
  height: 80vh !important;
  text-align: center;
  position: relative;
  @media (max-width: $mobileWidth) {
    height: 100vh !important;
    max-height: -webkit-fill-available;
  }
  &Content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding-top: 3rem;
    @media (max-width: $mobileWidth) {
      // position: relative;
      padding-bottom: 10rem;
      // height: inherit;
      // min-height: -webkit-fill-available;
    }
    a {
      color: $fontColorDefault;
    }
  }
  .matter {
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .title {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translate3d(-50%,0%, 0);
    display: block;
    margin: 4.7rem auto 0 auto;
    text-align: center;
    width: calc(100%/2);
    color: $fontColorDefault;
    margin-bottom: 9.5rem;
    @include title-h1;
    @media (max-width: $mobileWidth) {
      position: relative;
      left: unset;
      transform: translate3d(0,0, 0);
      width: calc(100% - 3rem);
      margin: 0rem auto 6.5rem auto;
      top: unset;
      @media screen and (orientation:landscape) {
        margin: 0rem auto 2.5rem auto;
      }
    }
  }
  .center {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    width: calc(100%/1.8);
    display: flex;
    justify-content: space-between;
    // margin-bottom: 6rem;
    @media (max-width: $mobileWidth) {
      // top: 23.9rem;
      width: 100%;
      position: relative;
      left: unset;
      top: unset;
      transform: translate3d(0,0, 0);
    }
  }
  .contacts {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // margin-bottom: 6rem;
    .office {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.6rem;
      @media (max-width: $mobileWidth) {
        font-size: 1.4rem;
      }
      p {
        &:not(:last-child) {
          // margin-bottom: .5rem;
        }
      }
      a {
        position: relative;
        margin-top: .5rem;
        display: inline-flex;

        &:after {
          content: '';
          position: absolute;
          width: 0%;
          height: 1px;
          left: 0;
          bottom: -.1rem;
          background-color: #000000;
          transition: .2s;
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }
      }
      @media (max-width: $mobileWidth) {
        margin-bottom: 2rem;
      }
    }
    @media (max-width: $mobileWidth) {
      flex-direction: column;
      // justify-content: center;
      align-items: center;
    }
    
    button {
      margin-top: 1rem;
    }
  }
  .feedback {
    margin-bottom: 6rem;
  }
  .matter {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .subtitle {
    font-size: 1.6rem;
    @include garamond-narrow;
    margin-bottom: 1.5rem;
    @include uppercase;
  }
  .text {
    @include regular-text;
  }
  .bottom {
    // position: absolute;
    // display: flex;
    // justify-content: space-between;
    // width: 100%;
    // padding: 4rem;
    // bottom: 4.2rem;
    .name, .provide, .policy {
      position: absolute;
      bottom: 4rem;
      z-index: 10;
      transform: translate3d(0,0,0);
      @media (max-width: $mobileWidth) {
        bottom: 2rem;
        font-size: 1.2rem;
      }
    }
    .name {
      left: 4rem;
      @media (max-width: $mobileWidth) {
        left: 2rem;
      }
    }
    .provide {
      left: 50%;
      transform: translate3d(-50%,0%, 0);
      @media (max-width: $mobileWidth) {
        display: none;
      }
    }
    .policy {
      right: 10rem;
      @media (max-width: $mobileWidth) {
        right: 2rem;
      }
    }
    span {
      @include garamond-narrow;
      @include uppercase;
      font-size: 1.5rem;
    }
  }
}
