.header {
  margin-bottom: 3rem;
}
.authorInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid $fontColorDefault;
  margin-bottom: 3rem;
  @media (max-width: $mobileWidth) {
    flex-direction: column;
    align-items: flex-start;
  }
  .author {
    @media (max-width: $mobileWidth) {
      margin-bottom: 1.5rem;
    }
  }
  .date {
    display: flex;
    color: $fontColorDefault;
    p {
      &:last-child {
        @media (max-width: $mobileWidth) {
          margin-left: unset;
          margin-top: 1.5rem;
        }
      }
    }
    @media (max-width: $mobileWidth) {
      flex-direction: column;
    }
  }
}