.logotype {
  
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='103' height='26' viewBox='0 0 103 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.3075 15.769C31.5681 16.4573 30.6359 16.8014 29.6393 17.0205C29.4464 17.0517 29.4464 17.3333 29.6393 17.3646C30.5073 17.5211 31.3431 17.8339 32.0503 18.3971C33.947 19.8989 34.172 22.6835 32.4682 24.4043C30.8609 26.0313 28.1927 26.0313 26.5532 24.4356C25.7817 23.6847 25.396 22.7461 25.1709 21.7136C25.1388 21.5259 24.8495 21.5259 24.8173 21.7136C24.6566 22.5584 24.3351 23.3718 23.7565 24.0602C22.2134 25.9374 19.3202 26.1252 17.5843 24.4669C15.9127 22.9025 15.9127 20.3057 17.5521 18.71C18.3237 17.9591 19.2881 17.5836 20.3168 17.3646C20.5096 17.3333 20.5096 17.0517 20.3168 17.0205C19.4488 16.864 18.613 16.5511 17.9058 15.988C16.0091 14.4862 15.8162 11.7016 17.52 9.98075C19.1273 8.35379 21.7955 8.35379 23.435 9.94946C24.2065 10.7004 24.5923 11.639 24.8173 12.6402C24.8495 12.8279 25.1388 12.8279 25.1709 12.6402C25.3638 11.639 25.7817 10.7004 26.5532 9.94946C28.257 8.29122 31.0216 8.38508 32.629 10.1685C34.1077 11.8267 33.947 14.2672 32.3075 15.769Z' fill='%23241F21'/%3E%3Cpath d='M93.6756 22.5271C90.6216 22.5271 88.1464 20.1805 88.1464 17.1456C88.1464 14.2359 90.6216 11.7954 93.6756 11.7329C96.6974 11.7329 99.2048 14.1733 99.2048 17.1456C99.2048 20.1805 96.6974 22.5271 93.6756 22.5271ZM93.6434 26C97.1153 26 98.8512 24.6859 99.7192 22.7461L99.2691 21.9326V25.4681H102.87V8.91697H99.3013V12.3899L99.7513 11.5451C98.8834 9.66787 97.1474 8.3225 93.6756 8.3225C88.6928 8.3225 84.6102 12.2647 84.6102 17.1456C84.5781 22.0578 88.6607 26 93.6434 26ZM75.802 25.4368H79.3703V12.3273H84.0637V8.91697H79.3703V3.09747H75.802V8.94826H73.1981V12.3586H75.802V25.4368ZM54.9709 25.4368H58.5392V12.3273H66.2544V25.4368H69.887V8.91697H58.5392V0H54.9709V25.4368ZM37.0652 25.4368H45.9377C49.2167 25.4368 51.4348 23.8099 51.4348 20.8375C51.4348 18.1468 49.731 16.9892 47.0307 16.3008C45.7127 15.988 43.2374 15.3309 41.63 14.9555C40.4084 14.6739 40.087 14.2359 40.087 13.5475C40.087 12.8592 40.5049 12.3273 41.5336 12.3273H49.6989V8.91697H41.5657C38.5118 8.91697 36.4544 10.8881 36.4544 13.485C36.4544 16.426 38.0617 17.3959 39.8941 17.8652L45.777 19.367C46.7414 19.6173 47.3521 19.8676 47.3521 20.8063C47.3521 21.5259 46.9342 22.089 45.777 22.089H37.0652V25.4368V25.4368ZM0 25.4368H3.56829V18.3032L10.6084 25.4681H15.334L5.81856 15.4874L5.78641 17.8652L14.9482 8.97954H10.1905L3.56829 15.3622V0H0V25.4368Z' fill='%23241F21'/%3E%3C/svg%3E");
  background-blend-mode: difference;
}
svg {
  position: fixed;
  left: 4rem;
  top: 2rem;
  mix-blend-mode: difference;
  transform: translate3d(0,0,0);
  z-index: 100;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
  @media (max-width: $mobileWidth) {
    width: 12.6rem;
    height: 3.2rem;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}