.project {
  display: flex;
  padding-bottom: 4rem;
  &:not(:last-child) {
    border-bottom: 1px solid $fontColorDefault;
    margin-bottom: 4rem;
  }
  .section {
    font-size: 1.2rem;
    width: 10%;
    @media (max-width: $mobileWidth) {
      width: unset;
      margin-bottom: 2rem;
    }
  }
  .info {
    margin-top: -.5rem;
    width: 50%;
    @media (max-width: $mobileWidth) {
      width: unset;
      margin-top: unset;
      font-size: 2.1rem;
      margin-bottom: 2rem;
    }
    .title {
      @include title;
      &:hover {
        cursor: pointer;
      }
    }
    .author {
      @include subtitle;
      @include garamond-narrow;
      @media (max-width: $mobileWidth) {
        margin-top: -1rem;
      } 
    }
  }
  .wrap {
    width: 48rem;
    height: 30rem;
    margin-right: 2rem;
    @media (max-width: $mobileWidth) {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .date {
    font-size: 1.2rem;
    @media (max-width: $mobileWidth) {
      display: none;
    }
  }
  @media (max-width: $mobileWidth) {
    flex-direction: column;
  }
}