.footer {
  height: calc(100%);
  flex: 0 0 auto;
  // overflow: auto;
}
.projectsContent {
  flex: 1 0 auto;
}
.projects {
  display: flex;
  flex-direction: column;
}
.nextSlide {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%,0);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 100%;
  @media (min-width: $mobileWidth) {
    display: none !important;
  }
}