@font-face {
  font-family: 'Garamond Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('Garamond Narrow'), local('GaramondNarrow-Regular'),
      url('./garamondnarrow.woff') format('woff'),
      url('./garamondnarrow.ttf') format('truetype');
}


