.cookies {
  @include uppercase;
  width: 20rem;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  padding: 1.5rem;
  button {
    position: relative;
    display: inline-flex;
    @include uppercase;
    &:after {
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      right: 0;
      bottom: -.4rem;
      background-color: #000000;
      background-blend-mode: difference;
      transition: .2s;
    }
    &:hover {
      cursor: pointer;
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
  @media (max-width: $mobileWidth) {
    width: calc(100% - 4rem);
    > p:last-child {
      margin-top: 3.2rem;
    }
  }
}