.mainVideo {
  width: 100vw;
  height: 100vh;
  position: relative;
  .textBlock {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%, 0);
    width: 100%;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 1;
    @include title;
    font-size: 6.1rem;
    @media (max-width: $mobileWidth) {
      width: 100%;
      font-size: 3.1rem;
    }
  }
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
  }
}