.contacts {
  background-color: #fff;
}
.description {
  margin: calc(50vh - 7.8rem - 7.75rem) 0 8.5rem calc(50vw - 4rem);
  transform: translate(-50%, -50%);
  text-align: center;
  width: calc(100vw/1.8);
  color: #000;
  z-index: 1;
  @include title-h1;
  font-weight: 400;
  padding: 1rem;
  @media (max-width: $mobileWidth) {
    margin: 0rem auto 8.5rem auto;
    width: calc(100% - 9rem);
  }
}